      <nav>
        <a href="https://github.com/cd" class="icon">&#xf09b;</a>
        <a href="https://www.xing.com/profile/Christian_Diederich8/cv" class="icon">&#xf169;</a>
        <a href="https://twitter.com/chrdiede" class="icon">&#xf304;</a>
        <a href="https://www.linkedin.com/in/christian-diederich-69a322143/" class="icon">&#xf30c;</a>
      </nav>
      <img src="/img/logo.jpg" alt="Christian Diederich" />
      <p>Hi, my name is Christian and I'm a 30-year-old</p>
      <ul style="list-style-type:none;padding:0;margin-bottom:0;"><li>⚙️ Mechanical Engineer,</li><li>💻 Developer,</li><li>❤️ JavaScript Advocate,</li><li>🧠 Machine Learning Enthusiast, and</li><li>👶 Family Man.</li></ul>
      <p>I'm employed at <a href="https://www.khs.com/en/">KHS</a> and work on web development and digitization in the filling and packaging industry.</p>
      <p>This is my personal blog and I write about topics that interest me.</p>